@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;

0,600;1,400&display=swap");
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg_r {
  background-position: right;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 107px;
}

.countdown_b3 {
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/*countdown===========================================================================================*/

.countdown-content {
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.countdown-content__title {
  font-size: 16px;
  text-align: center;
  margin: 0 0 0 107px;
}

.countdown-content__title_b3 {
  margin: 0;
  text-align: left;
  margin: 0 0 0 25px;
}

.countdown-content-number {
  position: relative;
  padding: 10px;
  border-radius: 3px;
}

.countdown-content-number:before {
  content: ':';
  position: absolute;
  display: inline-block;
  left: -4px;
}

.countdown-content-number:nth-last-child(3):before {
  content: '';
}

.countdown-content-time {
  padding: 15px;
  border-radius: 3px;
}

.countdown-content-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

/*--------------------*/

/*FONTS===========================================================================================*/

body,
input,
button,
textarea {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #08500b;
}

/*WRAPPER===========================================================================================*/

body {
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

/*CONTAINER===========================================================================================*/

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*HEADER===========================================================================================*/

.header {
  padding: 20px 0 0 0;
  position: relative;
}

.header__top {
  z-index: 1;
  position: relative;
  text-align: center;
  margin: 0 0 17px 0;
}

.header__body {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
}

.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #dd9e49;
  font-size: 52px;
  font-weight: 400;
  color: #ffffff;
}

.title span {
  color: #dd9e49;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
}

.subtitle span {
  color: #dd9e49;
}

.item__list {
  margin: 54px 0 40px 0;
  border-radius: 15px;
  background-color: rgba(48, 31, 35, 0.6);
  max-width: 390px;
  position: relative;
}

.item__list li {
  white-space: nowrap;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  padding: 15px 62px;
  list-style-type: disc;
  list-style-position: inside;
}

.item__img {
  position: relative;
  left: 50px;
}

.item__img img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.form {
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  border-radius: 20px;
  padding: 0 0 20px 0;
  margin: 0 0 60px 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 360px;
}

.form input {
  color: #595657;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 50px 0 0 0;
  max-width: 300px;
  height: 40px;
  background-color: rgba(186, 181, 181, 0.89);
}

.form__title {
  color: #fa9d1f;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #4b001e;
  text-align: center;
  padding: 5% 2rem 0;
  position: relative;
  bottom: 1px;
}

.form__title:after {
  content: '';
  padding-top: 5%;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(49.5%, transparent), color-stop(50%, #4b001e)) left/50.025% 100% no-repeat, -webkit-gradient(linear, right bottom, left top, color-stop(49.5%, transparent), color-stop(50%, #4b001e)) right/50.025% 100% no-repeat;
  background: -o-linear-gradient(left bottom, transparent 49.5%, #4b001e 50%) left/50.025% 100% no-repeat, -o-linear-gradient(right bottom, transparent 49.5%, #4b001e 50%) right/50.025% 100% no-repeat;
  background: linear-gradient(to right top, transparent 49.5%, #4b001e 50%) left/50.025% 100% no-repeat, linear-gradient(to left top, transparent 49.5%, #4b001e 50%) right/50.025% 100% no-repeat;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 0;
  color: #08500b;
  font-size: 38px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 55px 0 34px 0;
  max-width: 310px;
  height: 85px;
  -webkit-box-shadow: 0 9px 0 rgba(50, 63, 22, 0.7);
          box-shadow: 0 9px 0 rgba(50, 63, 22, 0.7);
  border-radius: 50px;
  border: 1px solid #465437;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(21%, rgba(136, 222, 43, 0.79)), color-stop(46%, rgba(187, 234, 87, 0.96)), color-stop(64%, rgba(165, 222, 43, 0.88)));
  background-image: -o-linear-gradient(rgba(136, 222, 43, 0.79) 21%, rgba(187, 234, 87, 0.96) 46%, rgba(165, 222, 43, 0.88) 64%);
  background-image: linear-gradient(rgba(136, 222, 43, 0.79) 21%, rgba(187, 234, 87, 0.96) 46%, rgba(165, 222, 43, 0.88) 64%);
}

.btn img {
  margin: 0 24px 0 19px;
}

.price-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-form__stock {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin: 0 8px 0 0;
}

.price-form__old {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 8px;
}

/*BLOCK-1===========================================================================================*/

.block-1 {
  padding: 150px 0 20px 0;
  position: relative;
  top: -5px;
}

.block-1__top {
  position: relative;
  z-index: 1;
}

.block-1__title {
  font-size: 36px;
  text-align: center;
  width: 40%;
}

.block-1__title_b {
  margin: 0 auto;
}

.block-1__list {
  margin: 115px 0;
}

.block-1__list li {
  color: #fa9d1f;
  font-size: 22px;
  font-weight: 400;
  margin: 25px;
  position: relative;
}

.block-1__list li:after {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  top: 23%;
  left: -22px;
  height: 14px;
  z-index: 99;
  background-image: url("../img/icon.png");
}

.block-1__bot {
  position: relative;
  z-index: 1;
  font-size: 36px;
}

.block-1__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.block-1__bg:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

/*BLOCK-2===========================================================================================*/

.block-2 {
  padding: 50px 0 20px 0;
}

.block-2__title {
  text-align: center;
  color: #161515;
}

.block-2__body {
  margin: 20px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-2__body img {
  width: 246px;
  height: auto;
  margin: 15px;
}

.block-2__text {
  padding: 0 0 0 100px;
  margin: 0 0 30px 0;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
}

.block-2__text span {
  font-weight: bold;
}

.block-2__text_t {
  padding: 0;
  text-align: center;
}

.block-2__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-2__list img {
  max-width: 120px;
  width: 100%;
  height: auto;
}

.block-2__list li {
  color: #000000;
  margin: 10px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.block-2__list li span {
  font-size: 32px;
  color: #fa9d1f;
}

.block-2__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.block-2__subtitle {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 0 36px 0;
}

/*BLOCK-3===========================================================================================*/

.block-3 {
  position: relative;
  padding: 45px 0 20px 0;
}

.block-3__body {
  position: relative;
  z-index: 1;
}

.block-3__title {
  text-align: center;
  margin: 0 0 65px 0;
}

.block-3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -10px;
}

.block-3__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
}

.block-3__img {
  margin: 0 0 70px 0;
}

.block-3__img img {
  width: 100%;
  max-width: 488px;
  height: auto;
}

.block-3__list {
  padding: 23px 64px;
  border-radius: 15px;
  background-color: rgba(48, 31, 35, 0.6);
}

.block-3__list li {
  color: #ff9200;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  height: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-3__list li:after {
  content: '';
  position: absolute;
  display: block;
  background-image: url("../img/block-3/icon.png");
  z-index: 99;
  width: 21px;
  height: 70px;
  top: -2%;
  left: -10%;
}

.block-3__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*HEADER===========================================================================================*/

.block-4 {
  padding: 60px 0;
  position: relative;
}

.block-4__top {
  text-align: center;
  z-index: 1;
  position: relative;
}

.block-4__title {
  margin: 0 0 20px 0;
}

.block-4__img img {
  max-width: 320px;
  width: 100%;
  height: auto;
}

.block-4__subtitle {
  margin: 0 0 10px 0;
}

.block-4__body {
  z-index: 1;
  position: relative;
  border-radius: 15px;
  background-color: rgba(48, 31, 35, 0.6);
}

.block-4__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.block-4__col {
  padding: 0 10px;
}

.block-4__list {
  margin: 40px 0 73px 0;
}

.block-4__list li {
  color: #fa9d1f;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 40px;
  position: relative;
}

.block-4__list li:after {
  content: '';
  position: absolute;
  display: block;
  background-image: url("../img/block-4/dot.png");
  height: 12px;
  width: 12px;
  top: 3px;
  left: -23px;
}

.block-4__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*BLOCK-5===========================================================================================*/

.block-5 {
  padding: 50px 0 20px 0;
  position: relative;
}

.block-5__top {
  position: relative;
  z-index: 1;
}

.block-5__text {
  text-align: center;
}

.block-5__text p {
  color: #e50a0a;
  font-size: 24px;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}

.block-5__title {
  color: #000;
  margin: 0 0 25px 0;
}

.block-5__bot {
  position: relative;
  z-index: 1;
  margin: 0 10px;
}

.block-5__subt {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 42px;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.block-5__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.body-b5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 45px 0;
}

.body-b5_b {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.body-b5__img {
  margin: 0 160px 0 0;
}

.body-b5__img img {
  max-width: 426px;
  width: 100%;
  height: auto;
  min-width: 190px;
}

.body-b5__text {
  max-width: 576px;
  background-color: #fff;
  border-radius: 5px;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  padding: 15px;
}

.body-b5__text span {
  font-weight: bold;
}

.body-b5__proverb {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  max-width: 410px;
  text-align: center;
  margin: 0 10px 0 130px;
}

.body-b5__proverb span {
  font-size: 64px;
}

.garant-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.garant-body__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  padding: 15px 10px 15px 60px;
  border-radius: 10px;
  max-width: 435px;
  background-color: #fff;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
}

/*FOOTER===========================================================================================*/

.footer {
  padding: 20px 0 0 0;
  position: relative;
}

.footer__top {
  z-index: 1;
  position: relative;
  text-align: center;
  margin: 0 0 17px 0;
}

.footer__body {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
}

.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*SEND.HTML===========================================================================================*/

.send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
}

@media (max-width: 1000px) {
  .body-b5__img {
    margin: 0 80px 0 0;
  }

  .body-b5__text {
    font-size: 21px;
  }
}

@media (max-width: 900px) {
  .block-3__list li:after {
    top: -47%;
  }

  .block-3__list li {
    font-size: 16px;
  }

  .block-4__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-4__list {
    margin: 15px 0 20px 0;
  }

  .block-5__text p {
    font-size: 22px;
  }

  .block-5__title {
    margin: 0 0 15px 0;
  }

  .block-5__subt {
    font-size: 28px;
    line-height: 37px;
  }

  .body-b5 {
    margin: 0 0 25px 0;
  }

  .body-b5__img {
    margin: 0 50px 0 0;
  }

  .body-b5__text {
    font-size: 18px;
  }

  .body-b5__proverb {
    font-size: 32px;
  }

  .garant-body__img img {
    max-width: 162px;
    width: 100%;
    height: auto;
    min-width: 120px;
  }

  .garant-body__text {
    font-size: 21px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 18px;
  }

  .form {
    margin: 0 0 20px 60px;
  }

  .block-1 {
    padding: 50px 0 10px 0;
  }

  .block-1__title {
    margin: 0 auto;
    font-size: 22px !important;
    width: 65%;
  }

  .block-1__list li {
    font-size: 16px;
  }

  .block-1__list {
    margin: 30px 0;
  }

  .block-2 {
    padding: 10px 0 10px 0;
  }

  .block-2__body img {
    width: 150px;
  }

  .block-2__body {
    margin: 20px 0 0 0;
  }

  .block-2__text {
    font-size: 16px;
    padding: 0 0 0 50px;
  }

  .block-2__text_t {
    padding: 0;
  }

  .block-2__list li {
    font-size: 24px;
  }

  .block-2__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-3__title {
    margin: 0 0 25px 0;
  }

  .block-3__img {
    margin: 0 0 20px 0;
  }

  .block-3__list {
    padding: 13px 30px;
  }

  .block-5 {
    padding: 10px 0 10px 0;
  }
}

@media (max-width: 700px) {
  .countdown {
    margin: 0;
  }

  .countdown-content__title {
    margin: 0;
  }

  .countdown-content__title_b3 {
    margin: 0 0 0 25px;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 14px;
  }

  .item_l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item__list li {
    padding: 5px 20px;
  }

  .item__list {
    margin: 0 auto;
  }

  .item__img img {
    max-width: 250px;
  }

  .item__img {
    left: 0;
  }

  .form {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .form input {
    max-width: 200px;
    margin: 30px 0 0 0;
  }

  .form__title {
    font-size: 15px;
  }

  .btn {
    max-width: 210px;
    font-size: 20px;
    margin: 35px 0 24px 0;
  }

  .btn img {
    margin: 0 10px 0 8px;
  }

  .price-form {
    max-width: 210px;
  }

  .block-2__btn {
    margin: 0 auto;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 650px) {
  .block-5__subt {
    font-size: 21px;
  }

  .body-b5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-b5__img {
    margin: 0;
  }

  .body-b5__proverb {
    font-size: 21px;
  }

  .body-b5__proverb span {
    font-size: 46px;
  }

  .garant-body__text {
    padding: 15px 10px 15px 20px;
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .countdown_b3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .countdown-content__title_b3 {
    display: inline-block;
    margin: 0;
    text-align: center;
  }

  .block-3__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-3__list {
    padding: 13px 60px;
  }

  .block-3__list li:after {
    top: -33px;
  }
}

@media (max-width: 550px) {
  .countdown-content-number {
    padding: 5px;
  }
}

@media (max-width: 450px) {
  .block-2__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-2__text {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .item_l {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}